.stick{
    background-position: 25px;
    background-color: rgb(200, 243, 10);
    margin-left: 50%;
    margin-right: 50px;
    margin-top: auto;
}
.traffic-light{
    background: rgb(14, 13, 13);
    padding: 10px;
    display: inline-block;
    margin: auto;
}
.light{
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    background-color: blue;
    margin-block-end: 10px;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.green{
    background: green;
}
.glow{
    box-shadow: 0px 0px 9px 4px #c5caf9
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
